*{
    margin: 0px;
    padding:0px;
}
.Calendar-wrapper
{
    width: 300px;
    height: 300px;
    border: 1px solid #acabac;

    position: absolute;
    border-radius:10px;
    top:20px;
    left:20px;
    font-family: 微软雅黑;
}

header
{
    margin-top: 20px;
    margin-left: 60px;
    width:100%;
    font-weight: bold;
}

#month-div
{
    position: absolute;
    left:25px;
}
#year-div
{
    position: absolute;
    left:140px;
}

header #month-ahead
{
    position: absolute;
    left: 10px;
    top:25px;
}
header #month-forward
{
    position: absolute;
    right:15px;
    top:25px;
}

#CaTable
{
    border-collapse: collapse;
    position: absolute;
    left:30px;
    top:70px;
}

#CaTable th
{
    border-left: none;
    border-right: none;
    text-align: center;
    width:80px;
}

#CaTable td
{
    border-left: none;
    border-right: none;
    text-align: center;
    color:#000000;
}
#CaTable td:hover
{
    background-color: #307dc1;
    border-radius: 4px;
    color: #ffffff;
}


.chosen
{
    background-color: #307dc1;
    border-radius: 4px;
    color: #ffffff;
}
.not-chosen
{
    background-color: #ffffff;
    border-radius: 0px;
    color: #000000;
}
